= render 'toppage/header'

.main
  .main__box
    = render 'left-memu'

    .my-main
      .my-main__top
        = image_tag('mypage-img.png', class:"my-back")
        .my-main__top__box
          .my-main__top__box__image
            = image_tag('icon/member_photo_noimage_thumb.png', class:"my-icon")
            %h2.nickname 
              = @user.nickname
            .my-main__top__box__image__date
              %p.goodsnum 出品数
              %span.goodssum 
                = @product.length
      .my-main__goods
        %h2.title 売買した商品
        %ul.buys
          %li{class:"buys__status active", id:"now"}
            %span(href='#') 出品中
          %li{class: "buys__status", id:"ago"}
            %span(href='#') 売却済み
        .my-main__goods__box
          %ul.buy-goods
            - if @sell.present?
              %li{class: 'buy-goods__status show'}
                - @sell.each do |sell|
                  = link_to product_path(sell.id) do
                    .minigoods
                      .imagmini
                        - if sell.images.blank?
                        - else
                          = image_tag "#{sell.images[0].image}", class: "product-imagemini"
                      .textmini
                        %p.mygoods #{sell.name}
                        %p.mygoods #{sell.price}円
            - else
              %li{class: 'buy-goods__status show'} 出品中の商品はありません
            - if @sold.present?
              %li{class: 'buy-goods__status'} 
                - @sold.each do |sold|
                  = link_to product_path(sold.id) do
                    .minigoods
                      .imagmini
                        - if sold.images.blank?
                        - else
                          = image_tag "#{sold.images[0].image}", class: "product-imagemini"
                      .textmini
                        %p.mygoods #{sold.name}
                        %p.mygoods #{sold.price}円
            - else
              %li{class: 'buy-goods__status'} 売却した商品はありません

= render 'toppage/footer'
