.footer
  .footer__content
    .footer__content__list
      .footer__content__list__title
        FURIMAについて
      .footer__content__list__text
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            会社概要（運営会社）
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            プライバシーポリシー
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            FURIMA利用規約
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            ポイントに関する特約

    .footer__content__list
      .footer__content__list__title
        FURIMAを見る
      .footer__content__list__text
        .footer__content__list__text__box1
          = link_to "/categories", class: "footer__content__list__text__box1__a" do
            カテゴリー一覧
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            ブランド一覧

    .footer__content__list
      .footer__content__list__title
        ヘルプ&ガイド
      .footer__content__list__text
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            FURIMAガイド
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            FURIMAロゴ利用ガイドライン
        .footer__content__list__text__box1
          = link_to "#", class: "footer__content__list__text__box1__a" do
            お知らせ

  .footer__logo
    = link_to image_tag('logo/logo-white.png', width:'150px', class: "footer__logo__image"), "#"
  .footer__bottom
    ©FURIMA