.header
  .header__inner
    .header__inner__main
      .header__inner__main__icon
        = link_to image_tag('logo/logo.png', width:'150px'), root_path
      .header__inner__main__seach
        = form_with(url:"#",local: true, method: :get, class: "header__inner__main__seach__form") do |form|
          = form.text_field :keyword, placeholder: "検索機能は実装しておりません", class: "header__inner__main__seach__form__input"
          = form.submit "", class: "header__inner__main__seach__form__btn"
    .header__inner__nav
      .header__inner__nav__left
        .header__inner__nav__left__ca
          = link_to "/categories" do
            カテゴリー
          %ul.header__inner__nav__left__ca__parents
            = render partial:'categories/ca-header', collection: @parents.roots, as: "parent"
            = link_to "カテゴリー一覧から探す", "/categories", class:"allcate"
            
            

      .header__inner__nav__right
        .header__inner__nav__right__log
          - if user_signed_in?
          - else
            = link_to "/users/sign_in" do
              ログイン
        .header__inner__nav__right__sign
          - if user_signed_in?
          - else
            = link_to "/users/sign_up" do
              新規会員登録
        .header__inner__nav__right__sign
          - if user_signed_in?
            = link_to "マイページ", user_path(current_user), data: {"turbolinks" => false}
          - else
            = link_to "/users/sign_in" do
              マイページ