.main
  .main__devise
    %p.flash 
      = flash[:now]
  .main__image1
    .main__image1__content
      .main__image1__content__title
        人生を変えるフリマアプリ
      .main__image1__content__text
        FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
      .main__image1__content__btn
        = image_tag('http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', width:'180px')
        = image_tag('http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', width:'180px')





  .main__ponta
    .main__ponta__title
      FURIMAが選ばれるが選ばれる３つの理由
      .main__ponta__title__line

    .main__ponta__th
      .main__ponta__th__box1
        .main__ponta__th__box1__image
          .main__ponta__th__box1__image__num
            1
          .main__ponta__th__box1__image__a
            = image_tag("/images/pict-reason-01.jpg", width: '300px')
        .main__ponta__th__box1__title
          .main__ponta__th__box1__title__num2
            3分
          .main__ponta__th__box1__title__text
            ですぐに出品
        .main__ponta__th__box1__bottom
          スマホで入力するだけで簡単に出品できる！

      .main__ponta__th__box1
        .main__ponta__th__box1__image
          .main__ponta__th__box1__image__num
            2
          .main__ponta__th__box1__image__a
            = image_tag("/images/pict-reason-02.jpg", width: '300px')
        .main__ponta__th__box1__title
          .main__ponta__th__box1__title__num2
            シンプル
          .main__ponta__th__box1__title__text
            で使いやすい
        .main__ponta__th__box1__bottom
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      .main__ponta__th__box1
        .main__ponta__th__box1__image
          .main__ponta__th__box1__image__num
            3
          .main__ponta__th__box1__image__a
            = image_tag("/images/pict-reason-03.jpg", width: '300px')
        .main__ponta__th__box1__title
          .main__ponta__th__box1__title__text
            手数料
          .main__ponta__th__box1__title__num2
            業界最安
        .main__ponta__th__box1__bottom
          めんどくさい入力は必要なく、検索も購入もスムーズ！


  .main__image2
    .main__image2__content
      .main__image2__content__title
        会員数日本一位
      .main__image2__content__text
        FURIMAは、フリマアプリで最も人気。
      .main__image2__content__text
        出品・購入回数も業界最多です！
      .main__image2__content__text
        ほしかったあの商品に出会えるかもしれません。
      .main__image2__content__btn
        = image_tag('http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', width:'180px')
        = image_tag('http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', width:'180px')



  .main__feature
    .main__ponta__title
      FURIMAの特徴
      .main__ponta__title__line
    
    .main__feature__box
      .main__feature__box__m1
        .main__feature__box__m1__image
          = image_tag("icon/icon-01.png", width: '210px')
        .main__feature__box__m1__text-top
          簡単に売り買いできる
        .main__feature__box__m1__text-bottom
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      .main__feature__box__m1
        .main__feature__box__m1__image
          = image_tag("icon/icon-03.png", width: '210px')
        .main__feature__box__m1__text-top
          売上金は即日振込みに対応
        .main__feature__box__m1__text-bottom
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

      .main__feature__box__m1
        .main__feature__box__m1__image
          = image_tag("icon/icon-04.png", width: '210px')
        .main__feature__box__m1__text-top
          様々な支払いに対応
        .main__feature__box__m1__text-bottom
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .main__pick
    .main__pick__title
      ピックアップカテゴリー
    .main__pick__box
      .main__pick__box__new
        %p.subtitle 新規投稿商品
      .main__pick__box__lists
        - @goods.each do |item|
          .main__pick__box__lists__list
            = link_to product_path(item), class:"main__pick__box__lists__list__a" do
              .product-image
                - if item.status != "2"
                - else
                  .sold-date
                    %p
                = image_tag "#{item.images[0].image}", class: "product-image__i1"
              .main__pick__box__lists__list__a__text
                .main__pick__box__lists__list__a__text__name
                  = item.name
                .main__pick__box__lists__list__a__text__box
                  .main__pick__box__lists__list__a__text__box__price
                    = item.price
                  .main__pick__box__lists__list__a__text__box__tax
                    (税込)



  .main__pick
    .main__pick__title
      ピックアップブランド
    .main__pick__box
      .main__pick__box__new
        %p.subtitle アーカイバ
      .main__pick__box__lists
        .main__pick__box__lists__list
          .main__pick__box__lists__list__a
            .product-image
              = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: "product-image__i1")
            .main__pick__box__lists__list__a__text
              .main__pick__box__lists__list__a__text__name
                魚
              .main__pick__box__lists__list__a__text__box
                .main__pick__box__lists__list__a__text__box__price
                  30000円
                  .main__pick__box__lists__list__a__text__box__price__box1
                .main__pick__box__lists__list__a__text__box__tax
                  (税込)

        .main__pick__box__lists__list
          .main__pick__box__lists__list__a
            .product-image
              = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "product-image__i1")
            .main__pick__box__lists__list__a__text
              .main__pick__box__lists__list__a__text__name
                料理
              .main__pick__box__lists__list__a__text__box
                .main__pick__box__lists__list__a__text__box__price
                  30000円
                  .main__pick__box__lists__list__a__text__box__price__box1
                .main__pick__box__lists__list__a__text__box__tax
                  (税込)

        .main__pick__box__lists__list
          .main__pick__box__lists__list__a
            .product-image
              = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", class: "product__image__i1")
            .main__pick__box__lists__list__a__text
              .main__pick__box__lists__list__a__text__name
                カレー
              .main__pick__box__lists__list__a__text__box
                .main__pick__box__lists__list__a__text__box__price
                  30000円
                  .main__pick__box__lists__list__a__text__box__price__box1
                .main__pick__box__lists__list__a__text__box__tax
                  (税込)
                

  .main__image3
    .main__image3__content
      .main__image3__content__title
        だれでもかんたん、人生を変えるフリマアプリ
      .main__image3__content__text
        今すぐ無料ダウンロード！
      .main__image3__content__btn
        = image_tag('http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', width:'180px')
        = image_tag('http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', width:'180px')
