= form_for @address, local: true do |f|
  = render 'layouts/error_messages', model: f.object
  .field
    .field-label
      = f.label :郵便番号
      -if request.path_info == new_address_path
        %span.nomal 任意
    .field-input
      = f.text_field :address_number, autofocus: true, :placeholder => "例）1234567"
  .field
    .field-label
      = f.label :都道府県
      -if request.path_info == new_address_path
        %span.nomal 任意
    .field-input
      = f.select :prefecture, ["北海道","青森県","岩手県", "宮城県", "秋田県", "山形県", "福島県", "茨城県", "栃木県", "群馬県", "埼玉県", "千葉県",
                                "東京都", "神奈川県", "新潟県", "富山県", "石川県", "福井県","山梨県", "長野県","岐阜県","静岡県","愛知県", "三重県",
                                "滋賀県","京都府", "大阪府", "兵庫県", "奈良県", "和歌山県","鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県",
                                "香川県", "愛媛県", "高知県", "福岡県","佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"],prompt:"--"
  .field
    .field-label
      = f.label :市区町村
      -if request.path_info == new_address_path
        %span.nomal 任意
    .field-input
      = f.text_field :city, autofocus: true, :placeholder => "例）福岡市青区"
  .field
    .field-label
      = f.label :番地
      -if request.path_info == new_address_path
        %span.nomal 任意
    .field-input
      = f.text_field :town, autofocus: true, :placeholder => "例）緑山1-1-1"
  .field
    .field-label
      = f.label :建物名
      -if request.path_info == new_address_path
        %span.nomal 任意
    .field-input
      = f.text_field :house_number, autofocus: true, :placeholder => "例）黄ビル111"
    -if request.path_info == new_address_path
      .actions2
        = link_to "スキップする", root_path, class: 'skip'
    -else
    .actions
      = f.submit "登録する", class: 'btn'

    