#account-page.account-page
  .account-page__inner1.clearfix
    .page__header
      %h1
        = link_to image_tag("logo/logo.png", class:"header__logo"), root_path
    .page__main
      %h2.title 購入内容の確認
    .page__main__forms
      .page__main__forms__date
        .page__main__forms__date__image
          = image_tag "#{@product.images[0].image}", class:"buyimg"
        .page__main__forms__date__text
          %p 
            = @product.name
          %p.price
            ￥#{@product.price}

      .page__main__forms__money
        %p.money 支払い金額
        %h3.money
          ￥#{@product.price}
      .page__main__forms__buy
        %h3.buytitle 支払い方法
        - if @default_card_information.blank?
          .page__main__forms__buy__nodate
            %p 購入にはクレジットカードの登録が必要です。
            %br
              = link_to 'こちら', new_card_path, class:"here", data: {"turbolinks" => false}
              から登録する。
        - else
          .page__main__forms__buy__dates
            %p.card-date
              = "**** **** **** " + @default_card_information.last4
            %p.card-date
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
          %p.changes
            クレジットカードを
            = link_to 'こちら', new_card_path, class:"here", data: {"turbolinks" => false}
            から変更する。
        %h3.buytitle 配達先
        - if @address.blank?
          .page__main__forms__buy__nodate
            %p 購入には配達先の登録が必要です。
            %br
              = link_to 'こちら', edit_address_path, class:"here"
              から登録する。
        - else
          .page__main__forms__buy__dates
            %p.house-date
              = @address.address_number
            %p.house-date
              = @address.prefecture
          %p.changes
            配達先を
            = link_to 'こちら', edit_address_path, class:"here", data: {"turbolinks" => false}
            から変更する。
        - if @address.blank? || @default_card_information.blank?
          %button.btnnot 購入する
        - else
          = form_tag(action: :buy, method: :post) do
            %button.btn 購入する


    .account-page__footer
      %nav
        %p プライバシーポリシー
        %p メルカリ利用規約
        %p 特定商取引に関する表記
      .account-page__footer__logo
        = link_to image_tag('logo/logo-white.png', class:"footer__logo"), root_path
        %p
        ©Merrcari, inc