= render 'toppage/header'

.main
  .main__box
    = render 'users/left-memu'

    .my-credit
      %h2.my-credit__title 支払い方法
      .my-credit__card
        %h3.page-name 登録しているクレジットカード
      .my-credit__show
        .my-credit__cards__show
          %figure
            = image_tag "cards/#{@card_src}", width: '90', height: '50', alt: @card_brand, id: "card_image"
          .my-credit__cards__number
            = "**** **** **** " + @default_card_information.last4
            %br.my-credit__date
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
      .my-credit__btn
        = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button.dide-btn 削除する

= render 'toppage/footer'
