%header
  = link_to image_tag('logo/logo.png', width:'180px', class:"icon-box"), root_path
%main
  .main-box
    = form_for @product,  html: {id: "item-dropzone"} do |f|
      .main-box__form__group
        .main-box__form__group__title-box
          %h3.main-box__form__group__title
            出品画像
            %span.main-box__form__group__title__s
              必須
        %p.main-box__form__group__text
          最大10枚までアップロードできます
        
        = f.fields_for :images do |i|
          .main-box__form__group__image-form
            = i.file_field :image, class: "main-box__form__group__image-form__field"
            %p
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをダウンロード
        %p.main-box__form__group__ino
          画像がありません



      .main-box__form__group
        %label.main-box__form__group__title
          出品名
          %span.main-box__form__group__title__s
            必須
        = f.text_field :name, id: "input-default", class: "main-box__form__group__name-form", placeholder: "40文字まで"
        .main-box__form__group__title-box
        %label.main-box__form__group__title
          出品の説明
          %span.main-box__form__group__title__s
            必須
        = f.text_area :detail, class: "main-box__form__group__explanation-form", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"

      .main-box__form__group
        %p.main-box__form__group__name
          商品の詳細
        %label.main-box__form__group__title
          カテゴリー
          %span.main-box__form__group__title__s
            必須
        .main-box__form__group__select
          = f.collection_select :category_id, @category, :id, :name, {prompt: "---"}, class: "main-box__form__group__name-form", id: "category_select"
        .main-box__form__group__children

        .main-box__form__group__title-box
        %label.main-box__form__group__title
          商品の状態
          %span.main-box__form__group__title__s
            必須
        .main-box__form__group__select
          = f.select :condition, Product.states.keys, {include_blank: "選択してください"}, {class: 'main-box__form__group__name-form'}

      .main-box__form__group
        %p.main-box__form__group__name
          配送について
        %label.main-box__form__group__title
          発送元の地域
          %span.main-box__form__group__title__s
            必須
        .main-box__form__group__select
          = f.select :status, Product.cities.keys, {include_blank: "選択してください"}, {class: 'main-box__form__group__name-form'}

      .main-box__form__group
        %p.main-box__form__group__name
          価格（¥300〜9,999,999
        .main-box__form__group__price-box
          %label.main-box__form__group__price-box__title-price
            販売価格
            %span.main-box__form__group__title__s
              必須
          .main-box__form__group__price-box__select
            %span.main-box__form__group__price-box__select__mark
              ¥
            = f.number_field :price, min:300, max:999999, class: "main-box__form__group__price-box__select__number", id: "sell-price", placeholder: "0", value:"", style:"text-align: right"
        %p.main-box__form__group__price-box__commission
          販売手数料（10%)
      .main-box__form__group
        %p.main-box__form__group__profit
          販売利益
        .main-box__form__group__submit-box
          = f.submit "出品する", class:"main-box__form__group__submit-box__button",id:"product_botton"
          
          = link_to "/", class:"main-box__form__group__submit-box__return" do
            .main-box__form__group__submit-box__return__text
              もどる
        %p.main-box__form__group__attention
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。




.footer-product
  %nav
    %p プライバシーポリシー
    %p フリマ利用規約
    %p 特定商取引に関する表記
  .footer__logo-box
    = link_to image_tag('logo/logo-white.png', class:"footer__logo")
    %p
    ©Frima, inc


