= render 'toppage/header'
.item

  .item__box
    .item__box__name
      = @product.name
    .item__box__main
      .item__box__main__image
        = image_tag @image.image.to_s, size: "350x350"
      .item__box__main__sub  
        - @product.images.each.with_index do |image, index|
          = image_tag image.image_url, size: "150x150", class: "image-sub"
      
    .item__box__price
      .item__box__price__include
        = @product.price
      .item__box__price__fee
        .item__box__price__fee__tax
          税込
        .item__box__price__fee__postage
          送料込み
    .item__box__method
      .item__box__method__box
        - if user_signed_in? && current_user.id == @product.user_id
          .item__box__method__box__btn 
            = link_to "#", class:"item__box__method__box_btn"do
              編集
          .item__box__method__box__btn2
            = link_to product_path(@product),method: :delete,  class:"item__box__method__box_btn"do
              削除
        - elsif @product.status == "1"
          .item__box__method__box__btn3
            = link_to edit_card_path(id: @product.id), class:"item__box__method__box_btn"do
              購入画面に進む
        - else

    .item__box__information__table
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              = @product.user.nickname
          %tr
            %th カテゴリー
            %td 
              .item-category
                = link_to ">#{@category.parent.parent.name}",  category_path(@category.parent.parent.id), class: "user-name-string"; 
              %br
              .item-category
                = link_to ">#{@category.parent.name}", category_path(@category.parent.id), class: "user-name-string"; 
              %br 
              .item-category
                = link_to ">#{@category.name}",  category_path(@category.id), class: "user-name-string"; 
                
          %tr
            %th 商品状態
            %td  
              .item-condition
                = @product.condition  
          %tr
            %th 送料負担
            %td  
              .item-burden
                = @product.burden
          %tr
            %th 配送元地域
            %td 
              .item-detail
                = @address.prefecture

          %tr
            %th 発送日数
            %td 
              .item-days
                = @product.days
    .item__box__detail
      = @product.detail

= render 'toppage/footer'
